src/*.o  ._* .????*  */._* */.????*  ./SFBA_1KG_example/SFBA_TEST/*.OK ./SFBA_1KG_example/SFBA_TEST/slurm_err/*.err ./SFBA_1KG_example/SFBA_TEST/OUT/*.OK ./SFBA_1KG_example/SFBA_TEST/Eoutput/*.OK  ./SFBA_1KG_example/SFBA_TEST/.??* .git/**
